/*---------------------------------------------------------------------------------------------*/
/* Heading
/*---------------------------------------------------------------------------------------------*/

.Heading--1 {
  font-size: var(--heading-1-size);
  line-height: var(--heading-1-line-height);
  margin-bottom: var(--base-spacing-rem);
}

.Heading--2 {
  font-size: var(--heading-2-size);
  line-height: var(--heading-2-line-height);
  margin-bottom: var(--base-spacing-rem);
}

.Heading--3 {
  font-size: var(--heading-3-size);
  line-height: var(--heading-3-line-height);
  margin-bottom: var(--base-spacing-rem);
}

.Heading--4 {
  font-size: var(--heading-4-size);
  line-height: var(--heading-4-line-height);
  margin-bottom: var(--base-spacing-rem);
}

.Heading--5 {
  font-size: var(--heading-5-size);
  line-height: var(--heading-5-line-height);
  margin-bottom: var(--base-spacing-rem);
}

.Heading--6 {
  font-size: var(--heading-6-size);
  line-height: var(--heading-6-line-height);
  margin-bottom: var(--base-spacing-rem);
}

/* Themes */

.Heading--1,
.Heading--2,
.Heading--3,
.Heading--4,
.Heading--5,
.Heading--6 {
  background-color: var(--c-heading-bg);
  color: var(--c-heading-fg);
}