/*---------------------------------------------------------------------------------------------*/
/* List
/*---------------------------------------------------------------------------------------------*/

.ListUnstyled {
  list-style: none;
  margin: 0;
}
.ListUnstyled .listUnstyled {
  margin-left: var(--base-spacing-rem);
}
.ListInline {
  list-style: outside none none;
  margin: 0;
}
.ListInline > li {
  display: inline-block;
}

/* Themes */