/*---------------------------------------------------------------------------------------------*/
/* opacity
/*---------------------------------------------------------------------------------------------*/

@mixin opacity($value: 1) {
  $value-percentage: percentage($value);

  opacity: $value;
  filter: alpha(opacity=$value-percentage);
}
