/*---------------------------------------------------------------------------------------------*/
/* l-row
/*---------------------------------------------------------------------------------------------*/

.l-row {
  box-sizing: border-box !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-flex: 0 !important;
  -ms-flex: 0 1 auto !important;
  flex: 0 1 auto !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: row !important;
  flex-direction: row !important;
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
}

.l-row-col {
  position: relative !important;
  min-height: 1px !important;
  width: 100%;
}

.l-row--gap {
  margin-right: calc(var(--row-spacing-rem) * -1) !important;
  margin-left: calc(var(--row-spacing-rem) * -1) !important;
}
.l-row--gap > .l-row-col {
  padding-right: var(--row-spacing-rem) !important;
  padding-left: var(--row-spacing-rem) !important;
}

.l-row--gutter {
  margin-right: calc(var(--row-spacing-rem) * -1) !important;
  margin-left: calc(var(--row-spacing-rem) * -1) !important;
}
.l-row--gutter > .l-row-col {
  padding-right: var(--row-spacing-rem) !important;
  padding-left: var(--row-spacing-rem) !important;
  padding-bottom: calc(var(--row-spacing-rem) * 2) !important;
}